<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="emailDisplayName" value ="InnoShare"/>
    <add key="emailTitle" value ="近期网站内容无更新了"/>
    <add key="emailBody" value ="近期网站内容无更新，请及时更新！"/>
    <add key="siteUrl" value="http://xqx2012"/>
    <add key="siteUrl1" value ="http://va.neu.edu.cn/Teams/innoshare"/>
    <add key="nameList" value="李展鹏 610002092;林野 1764046969;宋振 453384182;于红爽 1518398645;王芷 736566952;刘高娃 757457891;鞠雪琴 347663419"/>
  </appSettings> 
</configuration>